nav ul {
  position: fixed;
  background-color: rgba(179,179,179,0.5);
  z-index: 10;
}

nav ul li {
	float: left;
	list-style-type: none;
  	padding: 2vh 2vw;
}

nav ul li:hover {
  background-color: #f5a623;
  color: white;
  border-radius: 0.5vh 0.5vw;
}